.program-row:hover{
    background-color: #e6e6e6;
}

.program-row {
    background: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.program-cell {
    padding: 10px;
}

.opponent-header {
    background-color: #111;
}

.opponent-list-header {
  color: #fff;
}

.opponent-list-heading {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.program-name {
    font-size: 30px;
    margin-top: 18px;
}

.modified {
    margin-top: 28px;
}

.user-col {
}
