#content {
    margin: 0 auto;
    margin-top: 100px;
    width: 1330px;
    border:solid 20px #1f1f1f; 
    border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
}

.program-container {
    width: 1280px;
    height: 640px;
}

/*
#dbg-btns {
    text-align: center;
}
*/
