#content {
    margin: 0 auto;
    margin-top: 100px;
    width: 1340px;
    height: 650;
    border:solid 20px #1f1f1f; 
    border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
}

#program-container {
    border: 5px solid #5cb85c;
    width: 1290px;
    height: 650px;
}

.program-editor-container {
    margin: 0 auto;
    width: 1290px;
}

.programming-header {
    color: #fff;
}

.programming-header p {
    font-size: small;
}

#target-label-player, #target-label-enemy {
    float: left;
}

#dbg-btns {
    margin-bottom: 10px;
}

/*
#dbg-btns {
    text-align: center;
}
*/
