.inline {
  display: inline;
}

.battle-log :hover {
  cursor: pointer;
}

.battle-log > div {
  text-align: center;
}

.battle-log > div .img {
}

.battle-log > div .name {
  margin-top: 10px;
}

.battle-log .battle-log-vs {
  margin-top: 20px;
}

.battle-log .battle-log-vs div.text-danger {
  vertical-align: middle;
  font-weight: bold;
  font-size: 26px;
}

.program-cell:hover {
  background-color: #e6e6e6;
}
.battle-log {
  background: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
}

.battle-log-header {
  color: #fff;
}

.program-cell {
  padding: 10px;
  border-radius: 20px;
}
