html {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.featurette {
    height: 500px;
    padding-left: 10%;
    padding-right: 10%;
}

#feature1 {
    background: #9b59b6;
    color: #fff;
}

#feature2 {
    background: #3498db;
    color: #fff;
}

#feature3 {
    background: #2ecc71;
    color: #fff;
}

.bs-header .container {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.octagram-logo-img-container, .octagram-logo-text-container {
    width: 100%;
}

.octagram-logo-container {
    width: 100%;
    height: 80%;
    text-align: center;
}

.octagram-logo-img, .octagram-logo-text {
    height: 100%;
}
.octagram-logo-img-container {
    height: 80%;
}

.octagram-logo-text-container {
    height: 20%;
}


.bs-header {
    /*background: #211D2E;*/
    background: #34495e;
    width: 100%;
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 500;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.featurette-heading {
    font-size: 6em;
}

.lead {
    font-size: 1.5em;
    line-height: 1.4em;
}
