
#overlay {
  position: fixed;
  z-index: 1000000;
  background: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=0);
  opacity: 0.0;
  display: none;
}

#loader-screen {
  position: absolute;
  top: 50%;
  left: 50%;
}

#loader-screen .loader{
  position: relative;
  top: -64px;
  left: -64px;
}
